# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# Docker
**/Dockerfile
**/.dockerignore
db_data/

# Logs
logs
*.log
*.pid
*.seed

# Build output
frontend/dist/
frontend/build/

# IDE/editor
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db
